@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
@Html.AntiForgeryToken()

<div class="container-xxl vh-100">
    <div class="row h-100 justify-content-center align-items-center">

        <!--Content Div-->
        <div id="content-div" class="col-sm-10 col-md-7 col-lg-4 col-xl-4 vh-100 overflow-auto disable-scrollbars">
            <div class="content-section p-3 m-2 rounded row align-items-center justify-content-between">
                <h5 class="col-6 m-0 p-0">SWE Resume Builder</h5>
                <button type="button" class="col-5 btn btn-dark" id="export-btn">Download</button>
            </div>
            <div id="personal-section" class="content-section p-3 m-2 rounded">
                <div class="row" id="personal-wrapper">
                    <h5 class="grey-text">Your Name</h5>
                    <p class="mt-2 grey-text">Address</p>
                    <p class="grey-text">Email</p>
                    <p class="grey-text">Phone Number</p>
                </div>
                <div id="personal-input" class="row input-content hidden">
                    <h5 class="font-weight-bold m-0">Personal Information</h5>
                    <p class="grey-text mb-2 small">
                        This section collects your personal details, location, and profile links (e.g., GitHub) to help employers learn about you and contact you.
                    </p>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-6 mb-2">
                                <label for="fName">First Name</label>
                                <input id="fName" class="form-control" type="text" name="fName" value="" autocomplete="off" placeholder="Enter your first name" />
                            </div>
                            <div class="col-6">
                                <label for="lName">Last Name</label>
                                <input id="lName" class="form-control" type="text" name="lName" value="" autocomplete="off" placeholder="Enter your last name" />
                            </div>
                        </div>

                        <label for="address">Address</label>
                        <input id="address" class="form-control mb-2" type="text" name="address" value="" autocomplete="off" placeholder="Enter your address" />

                        <label for="email">Email</label>
                        <input id="email" class="form-control mb-2" type="text" name="email" value="" autocomplete="off" placeholder="Enter your email address" />

                        <label for="pNumber">Phone Number</label>
                        <input id="pNumber" class="form-control mb-2" type="text" name="pNumber" value="" autocomplete="off" placeholder="Enter your phone number" />

                        <label for="extraInfo">Extra Link</label>
                        <input id="extraInfo" class="form-control mb-2" type="text" name="extraInfo" value="" autocomplete="off" placeholder="Enter an extra link (optional)" />
                    </div>
                    <div class="d-flex justify-content-center input-btns">
                        <button id="personal-discard" class="btn btn-secondary col-4 text-center mt-3">Discard</button>
                        <button id="personal-save" class="btn btn-primary col-4 text-center mt-3 mx-2">Save</button>
                    </div>
                </div>
            </div>
            <div class="content-section p-3 m-2 rounded align-items-center">
                <div id="education-header" class="row content-card">
                    <div class="content-card-header row">
                        <h4 class="col-9 m-0">Education</h4>
                        <p class="col-3 m-0 text-end">
                            <svg class="arrow" width="20" height="20" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                                <polygon points="10,15 3,5 17,5" fill="black" />
                            </svg>
                        </p>
                    </div>
                    <div id="education-card-box" class="content-card-box hidden mt-3">
                        <div class="text-center mt-3">
                            <button type="button" id="add-education" class="btn btn-primary col-6">+ Education</button>
                        </div>
                    </div>
                </div>
                <div id="education-input" class="row hidden">
                    <h4>Education</h4>
                    <p class="grey-text mb-2 small">
                        List your degree, institution, and graduation year. Optionally, include relevant coursework or achievements.
                    </p>

                    <div id="education-container">
                        <div class="form-group education-entry">
                            <label>Location</label>
                            <input type="text" name="universityLocation" class="form-control" placeholder="Enter location" autocomplete="off">

                            <label>University Name</label>
                            <input type="text" name="universityName" class="form-control" placeholder="Enter university name" autocomplete="off">

                            <div class="d-flex mb-1">
                                <div class="me-4">
                                    <label>Start Date</label>
                                    <div class="d-flex">
                                        <div class="me-2">
                                            <input type="text" id="startMonth" name="startMonth" class="form-control" placeholder="Month" autocomplete="off">
                                        </div>
                                        <div>
                                            <input type="text" id="startYear" name="startYear" class="form-control" placeholder="Year" autocomplete="off">
                                        </div>
                                    </div>
                                </div>
                                <div>
                                    <label>End Date</label>
                                    <div class="d-flex">
                                        <div class="me-2">
                                            <input type="text" id="endMonth" name="endMonth" class="form-control" placeholder="Month" autocomplete="off">
                                        </div>
                                        <div>
                                            <input type="text" id="endYear" name="endYear" class="form-control" placeholder="Year" autocomplete="off">
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <label>Relevant Coursework / Achievements</label>
                            <textarea name="educationDetails" class="form-control" rows="5" placeholder="Enter coursework or achievements" autocomplete="off"></textarea>
                        </div>
                    </div>
                    <div class="row justify-content-between input-btns">
                        <div class="col-5 d-flex justify-content-start">
                            <button class="btn col-10 text-center mt-3 mx-2 del-btn fw-bold">
                                <i class="bi bi-trash"></i>
                                Delete
                            </button>
                        </div>
                        <div class="col-7 row justify-content-end">
                            <button class="btn col-5 text-center mt-3 me-2 discard-btn fw-bold">Discard</button>
                            <button class="btn btn-primary col-6 text-center mt-3 save-btn fw-bold">Save</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="content-section p-3 m-2 rounded align-items-center">
                <div id="employment-header" class="row content-card">
                    <div class="content-card-header row">
                        <h4 class="col-9 m-0">Experience</h4>
                        <p class="col-3 m-0 text-end">
                            <svg class="arrow" width="20" height="20" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                                <polygon points="10,15 3,5 17,5" fill="black" />
                            </svg>
                        </p>
                    </div>
                    <div id="employment-card-box" class="content-card-box hidden mt-3">
                        <div class="text-center mt-3">
                            <button type="button" id="add-experience" class="btn btn-primary col-6">+ Experience</button>
                        </div>
                    </div>
                </div>
                <div id="employment-input" class="row hidden">
                    <h4>Experience</h4>
                    <p class="grey-text mb-2 small">
                        List your previous work experiences. Each new line in responsibilities makes a new dotpoint.
                    </p>
                    <div id="employment-container">
                        <div class="form-group experience-entry">
                            <label>Job Title</label>
                            <input type="text" name="jobTitle" class="form-control" placeholder="Enter job title" autocomplete="off">

                            <label>Company Name</label>
                            <input type="text" name="companyName" class="form-control" placeholder="Enter company name" autocomplete="off">

                            <div class="d-flex mb-1">
                                <div class="me-4">
                                    <label>Start Date</label>
                                    <div class="d-flex">
                                        <div class="me-2">
                                            <input type="text" id="startMonth" name="startMonth" class="form-control" placeholder="Month" autocomplete="off">
                                        </div>
                                        <div>
                                            <input type="text" id="startYear" name="startYear" class="form-control" placeholder="Year" autocomplete="off">
                                        </div>
                                    </div>
                                </div>
                                <div>
                                    <label>End Date</label>
                                    <div class="d-flex">
                                        <div class="me-2">
                                            <input type="text" id="endMonth" name="endMonth" class="form-control" placeholder="Month" autocomplete="off">
                                        </div>
                                        <div>
                                            <input type="text" id="endYear" name="endYear" class="form-control" placeholder="Year" autocomplete="off">
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <label>Job Responsibilities / Achievements</label>
                            <textarea name="jobDetails" rows="5" class="form-control" placeholder="Enter key responsibilities and achievements..." autocomplete="off"></textarea>
                        </div>
                    </div>
                    <div class="row justify-content-between input-btns">
                        <div class="col-5 d-flex justify-content-start">
                            <button class="btn col-10 text-center mt-3 mx-2 del-btn fw-bold">
                                <i class="bi bi-trash"></i>
                                Delete
                            </button>
                        </div>
                        <div class="col-7 row justify-content-end">
                            <button class="btn col-5 text-center mt-3 me-2 discard-btn fw-bold">Discard</button>
                            <button class="btn btn-primary col-6 text-center mt-3 save-btn fw-bold">Save</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="content-section p-3 m-2 rounded align-items-center">
                <div id="technical-header" class="row content-card">
                    <div class="content-card-header row">
                        <h4 class="col-9 m-0">Technical Experience</h4>
                        <p class="col-3 m-0 text-end">
                            <svg class="arrow" width="20" height="20" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                                <polygon points="10,15 3,5 17,5" fill="black" />
                            </svg>
                        </p>
                    </div>
                    <div id="technical-card-box" class="content-card-box hidden mt-3">
                        <div class="text-center mt-3">
                            <button type="button" id="add-technical" class="btn btn-primary col-6">+ Project</button>
                        </div>
                    </div>
                </div>
                <div id="technical-input" class="row hidden">
                    <h4>Technical Experience</h4>
                    <p class="grey-text mb-2 small">
                        This section highlights your technical projects. Include a brief description of each project, the technologies you used, and any relevant repositories.
                    </p>

                    <div id="technical-container">
                        <div class="form-group technical-experience-entry">
                            <label>Project Title</label>
                            <input type="text" name="projectTitle" class="form-control" placeholder="Enter project title" autocomplete="off">

                            <label>Project Description</label>
                            <textarea name="projectDescription" rows="5" class="form-control" placeholder="Describe the project and its key features" autocomplete="off"></textarea>

                            <label>Technologies Used</label>
                            <input type="text" name="technologiesUsed" class="form-control" placeholder="List the technologies used" autocomplete="off">

                            <label>Repo Link</label>
                            <input type="text" name="repoLink" class="form-control" placeholder="Enter repository link" autocomplete="off">
                        </div>
                    </div>

                    <div class="row justify-content-between input-btns">
                        <div class="col-5 d-flex justify-content-start">
                            <button class="btn col-10 text-center mt-3 mx-2 del-btn fw-bold">
                                <i class="bi bi-trash"></i>
                                Delete
                            </button>
                        </div>
                        <div class="col-7 row justify-content-end">
                            <button class="btn col-5 text-center mt-3 me-2 discard-btn fw-bold">Discard</button>
                            <button class="btn btn-primary col-6 text-center mt-3 save-btn fw-bold">Save</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="content-section p-3 m-2 rounded align-items-center">
                <div id="additional-header" class="row content-card">
                    <div class="content-card-header row">
                        <h4 class="col-9 m-0">Additional Experience and Awards</h4>
                        <p class="col-3 m-0 text-end">
                            <svg class="arrow" width="20" height="20" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                                <polygon points="10,15 3,5 17,5" fill="black" />
                            </svg>
                        </p>
                    </div>
                    <div id="additional-card-box" class="content-card-box hidden mt-3">
                        <div class="text-center mt-3">
                            <button type="button" id="add-additional" class="btn btn-primary col-6">+ Experience / Award</button>
                        </div>
                    </div>
                </div>
                <div id="additional-input" class="row hidden">
                    <h4>Additional Experience and Awards</h4>
                    <p class="grey-text mb-2 small">
                        This section lets you highlight any extra experience, achievements, or awards that are relevant to your profile.
                    </p>

                    <div id="additional-container">
                        <div class="form-group additional-entry">
                            <label>Additional Title</label>
                            <input type="text" name="additionalTitle" class="form-control" placeholder="Enter title of additional experience or award" autocomplete="off">

                            <label>Additional Description</label>
                            <textarea name="additionalDesc" rows="5" class="form-control" placeholder="Provide details about the experience or award"></textarea>
                        </div>
                    </div>

                    <div class="row justify-content-between input-btns">
                        <div class="col-5 d-flex justify-content-start">
                            <button class="btn col-10 text-center mt-3 mx-2 del-btn fw-bold">
                                <i class="bi bi-trash"></i>
                                Delete
                            </button>
                        </div>
                        <div class="col-7 row justify-content-end">
                            <button class="btn col-5 text-center mt-3 me-2 discard-btn fw-bold">Discard</button>
                            <button class="btn btn-primary col-6 text-center mt-3 save-btn fw-bold">Save</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="content-section p-3 m-2 rounded align-items-center">
                <div id="lang-header" class="row content-card">
                    <div class="content-card-header row">
                        <h4 class="col-9 m-0">Languages and Technologies</h4>
                        <p class="col-3 m-0 text-end">
                            <svg class="arrow" width="20" height="20" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                                <polygon points="10,15 3,5 17,5" fill="black" />
                            </svg>
                        </p>
                    </div>
                    <div id="lang-card-box" class="content-card-box hidden mt-3">
                        <div class="text-center mt-3">
                            <button type="button" id="add-lang" class="btn btn-primary col-6">+ Languages and Technologies</button>
                        </div>
                    </div>
                </div>
                <div id="lang-input" class="row hidden">
                    <h4>Languages and Technologies</h4>
                    <p class="grey-text mb-2 small">
                        List all the programming languages, frameworks, libraries, and tools you are proficient in.
                    </p>

                    <div id="lang-container">
                        <div class="form-group lang-entry">
                            <label>Languages and Technologies</label>
                            <textarea name="langTech" rows="5" class="form-control" placeholder="List all relevant languages and technologies (e.g., JavaScript, Python, React, SQL, etc.)"></textarea>
                        </div>
                    </div>

                    <div class="row justify-content-between input-btns">
                        <div class="col-5 d-flex justify-content-start">
                            <button class="btn col-10 text-center mt-3 mx-2 del-btn fw-bold">
                                <i class="bi bi-trash"></i>
                                Delete
                            </button>
                        </div>
                        <div class="col-7 row justify-content-end">
                            <button class="btn col-5 text-center mt-3 me-2 discard-btn fw-bold">Discard</button>
                            <button class="btn btn-primary col-6 text-center mt-3 save-btn fw-bold">Save</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="content-section p-3 m-2 rounded align-items-center row gap-1 justify-content-center">
                <button type="button" class="col-5 btn btn-dark" id="importJSON-btn">Import JSON</button>
                <button type="button" class="col-5 btn btn-dark" id="exportJSON-btn">Export JSON</button>
                <div class="border p-3 m-2 rounded align-items-center row justify-content-center hidden">
                    <input type="file" id="jsonInput" />
                </div>
            </div>
        </div>

        <!--Resume Div -->
        <div id="resume-view" class="col-sm-12 col-md-12 col-lg-6 col-xl-7 vh-100 d-flex justify-content-center align-items-center">
            <div id="resume-page" style="box-shadow: 0px 3px 15px rgba(0,0,0,0.2); border: 1px #d3d3d3 solid; background: white; width: 210mm; height: 297mm; overflow: auto; position: absolute; padding: 20px; font-family: 'Garamond'; padding: 1.2cm;">
                <div id="resume-content">
                    <div id="resume-page-heading" style="display: flex; align-items: center; justify-content: space-between; flex-direction: column;">
                        <h2 style="width: 100%; text-align: center; margin: 0;"></h2>
                        <p style="margin: 3px; text-align: center;"></p>
                        <p style="margin: 3px; text-align: center;"></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>